<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superdevs</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <section class="row">
            <section class="column">
                <h2>Input API Data Here</h2>
                <form action="/api" method="POST">
                    <input type="text" placeholder="name" name="name">
                    <input type="text" placeholder="heroName" name="heroName">
                    <textarea text="text" cols="40" rows="5" name="superPowers"></textarea>
                    <input type="text" placeholder="league" name="league">
                    <input type="text" placeholder="sideKick" name="sideKick">
                    <textarea text="text" cols="40" rows="5" name="utilities" ></textarea>
                    <input type="text" placeholder="catchPhrase" name="catchPhrase">
                    <button type="submit">Submit New</button>
                    <button type="button" id="updateButton">Update Existing</button>
                </form>
            </section>
            <section class="column">
                <h2>Current Heroes</h2>
                <ul class="heroes">
                    <% for(let i=0;i < info.length; i++) {%>
                        <li class="hero">
                            <span><%= info[i] %></span>
                        </li>
                    <% } %>
                </ul>
            </section>
        </section>
        
        <script type="text/javascript" src="/main.js"></script>
    </body>
</html>